<!doctype html>

<html lang="en">
<head>
  {% load static %}
  {% load widget_tweaks %}
  <meta charset="utf-8">

  <title>Welcome to WriteIT!</title>
  <meta name="description" content="Welcome to WriteIT!">
  <meta name="author" content="Iryna Yakymets">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/challenge_pages.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">


</head>

<body class="h-100 w-100">
  <nav class="navbar navbar-expand-lg fixed-top nav-main">
    <a class="navbar-brand a-btn small-head-text" href="{% url 'home' %}">WriteIT!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link a-btn small-head-text active" href="{% url 'home' %}">Home</a>
        <a class="nav-item nav-link a-btn small-head-text" href="{% url 'about' %}">About</a>
      </div>
    </div>
  </nav>

  <main>
    <h2 class="text-center p-5 mt-5">Reset your password</h2>

    <div class="container">

      {% if validlink %}
      <h4>Please set up a new password.</h4>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
          <p class="form-label-text">{{ field.label_tag }}</p>
          {% render_field field class="form-control" %}
        </div>
        {% endfor %}
        <button type="submit" class="button button-with-border mr-2">Change password</button>
      </form>
      {% else %}
      <h4>The reset link was invalid.</h4>
      <p class="form-label-text">
        This can happen if it has already been used. Please request a new password <a class="form-label-text-link" href="{% url 'password_reset' %}">reset</a>.
      </p>
      {% endif %}

    </div>
  </main>

  <footer class="p-4 text-center">
    <div class="container text-center">
      <p>© Iryna Yakymets {% now "Y" %}</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
