<!doctype html>

<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">

  <title>Welcome to WriteIT!</title>
  <meta name="description" content="Welcome to WriteIT!">
  <meta name="author" content="Iryna Yakymets">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/challenge_pages.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script>
  $(document).ready(function(){
    var maxLength = 300;
    $(".show-read-more").each(function(){
      var myStr = $(this).text();
      if($.trim(myStr).length > maxLength){
        var newStr = myStr.substring(0, maxLength);
        var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
        $(this).empty().html(newStr);
        $(this).append(' <a href="javascript:void(0);" class="read-more"> read more...</a>');
        $(this).append('<span class="more-text">' + removedStr + '</span>');
      }
    });
    $(".read-more").click(function(){
      $(this).siblings(".more-text").contents().unwrap();
      $(this).remove();
    });
  });
  </script>

  <style>
  .show-read-more .more-text{
    display: none;
  }

  .h4-like{
    font-size: 1.5rem;
    color: #112861;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
  }

  div#tips a  {
    font-size: 1.5rem;
  }
  div#tips a:hover {
    text-decoration: none;
  }
  div#tips a span {display: none;}
  div#tips a:hover span {
    display: block;
    position: absolute;
    left: 20%;
    width: 200px;
    padding: 5px;
    margin: 2px;
    z-index: 100;
    color: #112861;
    background: #f2f7fc;
    font-family:"Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #112861;
    font-size: 0.5em;
    text-decoration: none;
    border: 1px solid #112861;
    text-decoration: none;
  }
  div#tips p {position:relative}
  </style>

</head>

<body class="h-100 w-100">
  <nav class="navbar navbar-expand-lg fixed-top nav-main">
    <a class="navbar-brand a-btn small-head-text" href="{% url 'home' %}">WriteIT!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link a-btn small-head-text active" href="{% url 'home' %}">Home</a>
        <a class="nav-item nav-link a-btn small-head-text" href="{% url 'about' %}">About</a>
        <a class="nav-item nav-link a-btn small-head-text" href="{% url 'profile' %}">Hi, {{request.user.username}}</a>
      </div>
    </div>
  </nav>

  {% if user.is_authenticated %}
  <main>
    {% if challenge.challenge_starter == request.user and challenge.status == "Started" %}
    <h1 class="text-center mt-5 p-5">{{ challenge.title }}</h1>
    <div class="container" id="tips">
      <div class="container filter-box">
        <div class="mb-3">
          <span class="detail-challenge-topic">{{ challenge.topic }}</span>
          {% if urgent %}<span class="detail-challenge-deadline-urgent ml-3">{{ challenge.deadline }}</span>{% else %}<span class="detail-challenge-deadline-plain ml-3">{{ challenge.deadline }}</span>{% endif %}
        </div>
        <div>
          <h4>Number of agreed checks</h4>
          <p class="detail-challenge-text">{{ challenge.agreed_number_of_checks }}/{{ challenge.number_of_checks }}</p>
        </div>
        <div>
          <h4>Number of completed checks</h4>
          <p class="detail-challenge-text">{{ challenge.completed_number_of_checks }}/{{ challenge.number_of_checks }}</p>
        </div>
        <div>
          <h4>Short description</h4>
          <p class="detail-challenge-text">{{ challenge.short_description }}</p>
        </div>
        <div>
          <h4>Text</h4>
          {% if challenge.peer_review_text == Null %}<p class="detail-challenge-text show-read-more">{{ challenge.auto_check_text }}</p>
          {% else %}<p class="detail-challenge-text show-read-more">{{ challenge.peer_review_text }}</p>{% endif %}
        </div>
        {% if challenge.notes != "" %}
        <div>
          <h4>Additional information</h4>
          <p class="detail-challenge-text">{{ challenge.notes }}</p>
        </div>
        {% endif %}
        <a class="button button-with-border" href="{% url 'change_challenge' challenge.id %}">Change challenge</a>
        <a class="button button-with-border" onclick="return confirm('Are you sure you want to delete this?')" href="{% url 'delete_challenge' challenge.id %}">Delete challenge</a>
      </div>
      <h4><a class="secondary-link" href="{% url 'my_challenges' %}">Back to my challenges</a></h4>
    </div>



    {% elif challenge.challenge_starter == request.user and challenge.status == "Pending" %}
    <h1 class="text-center mt-5 p-5">{{ challenge.title }}</h1>
    <div class="container" id="tips">
      <div class="container filter-box">
        <div class="mb-3">
          <span class="detail-challenge-topic">{{ challenge.topic }}</span>
          {% if urgent %}<span class="detail-challenge-deadline-urgent ml-3">{{ challenge.deadline }}</span>{% else %}<span class="detail-challenge-deadline-plain ml-3">{{ challenge.deadline }}</span>{% endif %}
        </div>
        <div>
          <p><span class="h4-like">Used brownie points</span><a href="#"> <img src="{% static 'other/information.svg' %}" width="15px"> <span>If yes, then your challenge is posted. If no, please complete a challenge to get it posted.</span></a></p>
          <p class="detail-challenge-text">{% if challenge.completed_other_challenge %}Yes{% else %}No{% endif %}</p>
        </div>
        <div>
          <h4>Number of agreed checks</h4>
          <p class="detail-challenge-text">{{ challenge.agreed_number_of_checks }}/{{ challenge.number_of_checks }}</p>
        </div>
        <div>
          <h4>Short description</h4>
          <p class="detail-challenge-text">{{ challenge.short_description }}</p>
        </div>
        <div>
          <h4>Text</h4>
          {% if challenge.peer_review_text == Null %}<p class="detail-challenge-text show-read-more">{{ challenge.auto_check_text }}</p>
          {% else %}<p class="detail-challenge-text show-read-more">{{ challenge.peer_review_text }}</p>{% endif %}
        </div>
        {% if challenge.notes != "" %}
        <div>
          <h4>Additional information</h4>
          <p class="detail-challenge-text">{{ challenge.notes }}</p>
        </div>
        {% endif %}
        <h4>Thank you for starting a challenge! We'll make sure it's completed as soon as possible.</h4>
        <a class="button button-with-border" href="{% url 'change_challenge' challenge.id %}">Change challenge</a>
        <a class="button button-with-border"  onclick="return confirm('Are you sure you want to delete this challenge?')" href="{% url 'delete_challenge' challenge.id %}">Delete challenge</a>
      </div>
      <h4><a class="secondary-link" href="{% url 'my_challenges' %}">Back to my challenges</a></h4>
    </div>



    {% elif challenge.challenge_starter == request.user and challenge.status == "Completed" %}
    <h1 class="text-center mt-5 p-5">{{ challenge.title }}</h1>
    <div class="container" id="tips">
      <div class="container filter-box">
        <div class="mb-3">
          <span class="detail-challenge-topic">{{ challenge.topic }}</span>
          <span class="detail-challenge-deadline-completed ml-3">{{ challenge.deadline }}</span>
        </div>
        <div>
          <h4>Short description</h4>
          <p class="detail-challenge-text">{{ challenge.short_description }}</p>
        </div>
        {% if challenge.file_challenge %}
        <div>
          <a class="button button-with-border"  href="{{ challenge.result_file.url }}" download>Download results</a>
        </div>
        {% else %}
        <div>
          <h4>Text</h4>
          {% if challenge.peer_review_text == Null %}<p class="detail-challenge-text show-read-more">{{ challenge.auto_check_text }}</p>
          {% else %}<p class="detail-challenge-text show-read-more">{{ challenge.peer_review_text }}</p>{% endif %}
        </div>
        {% endif %}
        {% if challenge.feedback == "" %}
        <div>
          <a class="button button-with-border mr-2" href="{% url 'leave_feedback' challenge.id %}">Leave feedback</a>
          {%  if not challenge.accepted_and_closed %}
          <a class="button button-with-border mr-2" href="{% url 'accept_and_close_challenge' challenge.id %}">Accept and close challenge</a>
          <a class="button button-with-border mr-2" href="{% url 'dispute_and_reopen' challenge.id %}">Dispute and reopen challenge</a>
          {% endif %}
        </div>
        {% else %}
        <div>
          <h4>Thanks for your feedback!</h4>
        </div>
        {% endif %}
      </div>
      <h4><a class="secondary-link" href="{% url 'my_challenges' %}">Back to my challenges</a></h4>
    </div>



    {% elif challenge.status == "Started" %}
    <h1 class="text-center mt-5 p-5">{{ challenge.title }}</h1>
    <div class="container" id="tips">
      <div class="container filter-box">
        <div class="mb-3">
          <span class="detail-challenge-topic">{{ challenge.topic }}</span>
          {% if urgent %}<span class="detail-challenge-deadline-urgent ml-3">{{ challenge.deadline }}</span>{% else %}<span class="detail-challenge-deadline-plain ml-3">{{ challenge.deadline }}</span>{% endif %}
        </div>
        <div>
          <h4>Short description</h4>
          <p class="detail-challenge-text">{{ challenge.short_description }}</p>
        </div>
        <div>
          <h4>Number of completed checks</h4>
          <p class="detail-challenge-text">{{ challenge.completed_number_of_checks }}/{{ challenge.number_of_checks }}</p>
        </div>
        <div>
          <h4>Text</h4>
          {% if challenge.peer_review_text == Null %}<p class="detail-challenge-text show-read-more">{{ challenge.auto_check_text }}</p>
          {% else %}<p class="detail-challenge-text show-read-more">{{ challenge.peer_review_text }}</p>{% endif %}
        </div>
        {% if challenge.notes != "" %}
        <div>
          <h4>Additional information</h4>
          <p class="detail-challenge-text">{{ challenge.notes }}</p>
        </div>
        {% endif %}
        {% if not request.user in challenge.completed_peer_reviewer.all %}
        <div>
          <form action="{% url 'cant_participate' challenge.id %}" method="post">
            {% csrf_token %}
            <a class="button button-with-border mr-2" href="{% url 'complete_challenge' challenge.id %}">Start challenge</a>
            <button class="button button-with-border mr-2"  onclick="return confirm('Are you sure you want to stop participating in this challenge?')" type="submit" name="cant_participate">Can't participate</button>
          </form>
        </div>
        {% else %}
        <div>
          <h4>All done here! Thanks for doing your part!</h4>
        </div>
        {% endif %}
      </div>
      <h4><a class="secondary-link" href="{% url 'my_challenges' %}">Back to my challenges</a></h4>
    </div>



    {% elif challenge.status == "Completed" %}
    <h1 class="text-center mt-5 p-5">{{ challenge.title }}</h1>
    <div class="container" id="tips">
      <div class="container filter-box">
        <div class="mb-3">
          <span class="detail-challenge-topic">{{ challenge.topic }}</span>
          <span class="detail-challenge-deadline-completed ml-3">{{ challenge.date_completed }}</span>
        </div>
        <div>
          <h4>Short description</h4>
          <p class="detail-challenge-text">{{ challenge.short_description }}</p>
        </div>
        <div>
          <h4>Text</h4>
          {% if challenge.peer_review_text == Null %}<p class="detail-challenge-text show-read-more">{{ challenge.auto_check_text }}</p>
          {% else %}<p class="detail-challenge-text show-read-more">{{ challenge.peer_review_text }}</p>{% endif %}
        </div>
        <div>
          <h4>Thanks for helping us complete the challenge!</h4>
        </div>
      </div>
      <h4><a class="secondary-link" href="{% url 'my_challenges' %}">Back to my challenges</a></h4>
    </div>
    {% endif %}
  </main>

  {% else %}
  <main>
    <h2 class="mt-5 pt-5 text-center">Please, log into your account.</h2>
    <a href="{% url 'login' %}" class="button button-with-border">Login</a>
  </main>
  {% endif %}

  <footer class="p-4 mt-4 text-center">
    <div class="container text-center">
      <p>© Iryna Yakymets {% now "Y" %}</p>
    </div>
  </footer>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

</body>
