<!doctype html>

<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">

  <title>Welcome to WriteIT!</title>
  <meta name="description" content="Welcome to WriteIT!">
  <meta name="author" content="Iryna Yakymets">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/profile_pages.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">


</head>

<body class="h-100 w-100">
  <nav class="navbar navbar-expand-lg fixed-top nav-main">
    <a class="navbar-brand a-btn small-head-text" href="{% url 'home' %}">WriteIT!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link a-btn small-head-text active" href="{% url 'home' %}">Home</a>
        <a class="nav-item nav-link a-btn small-head-text" href="{% url 'about' %}">About</a>
        <a class="nav-item nav-link a-btn small-head-text" href="{% url 'profile' %}">Hi, {{request.user.username}}</a>
      </div>
    </div>
  </nav>

  {% if user.is_authenticated %}
  <nav class="menu pt-5 mt-4" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
      {% if request.user.profile.photo %}<img src="{{ request.user.profile.photo.url }}" alt="profile_photo" />{% endif %}
      <h2 class="text-white">{{ request.user.username }}</h2>
    </header>
    <ul>
      <li tabindex="0"><a class="a-sidebar" href="{% url 'profile' %}">My Account</a></li>
      <li tabindex="0"><a class="a-sidebar active-sidebar" href="{% url 'my_challenges' %}">My Challenges</a></li>
      <li tabindex="0"><a class="a-sidebar" href="{% url 'my_badges' %}">My Badges</a></li>
      <li tabindex="0"><a class="a-sidebar" href="{% url 'profile_settings' %}">Settings</a></li>
      <li tabindex="0"><a class="a-sidebar" href="{% url 'logout' %}">Logout</a></li>
    </ul>
  </nav>

  <main class="mb-5">
    <h1 class="text-center mt-5 p-5">My challenges</h1>
    <div class="pl-2">
      <div class="container">
        <div class="container">
          <div class="row">
            <a href="{% url 'challenges' %}" class="col button button-with-border mb-4">Find a challenge</a>
            <a href="{% url 'choose_challenge_type' %}" class="col button button-with-border mb-4">Start a challenge</a>
          </div>
        </div>
        <div class="container">
          <h3>My challenges</h3>
          <h4 class="main-text">In progress</h4>
          {% for challenge in my_challenges.all %}
          {% if challenge.challenge_starter == request.user and challenge.status == "Started" %}
          <div class="container mb-2">
            <p class="card-header challenge-title-box"><a  class="challenge-title" href="{% url 'my_challenges_detail' challenge.id %}">{{ challenge.title }}</a></p>
          </div>
          {% endif %}
          {% endfor %}

          <h4 class="main-text">Pending</h4>
          {% for challenge in my_challenges.all %}
          {% if challenge.challenge_starter == request.user and challenge.status == "Pending" and challenge.completed_other_challenge %}
          <div class="container mb-2">
            <p class="card-header challenge-title-box"><a  class="challenge-title" href="{% url 'my_challenges_detail' challenge.id %}">{{ challenge.title }}</a></p>
          </div>
          {% endif %}
          {% endfor %}

          <h4 class="main-text">Completed</h4>
          {% for challenge in my_challenges.all %}
          {% if challenge.challenge_starter == request.user and challenge.status == "Completed" %}
          <div class="container mb-2">
            <p class="card-header challenge-title-box"><a  class="challenge-title" href="{% url 'my_challenges_detail' challenge.id %}">{{ challenge.title }}</a></p>
          </div>
          {% endif %}
          {% endfor %}
        </div>



        <div class="container">
          <h3>Current challenges</h3>
          <h4 class="main-text">Pending</h4>
          {% for challenge in challenges.all %}
          {% if challenge.status == "Started" %}
          {% if not request.user in challenge.completed_peer_reviewer.all %}
          <div class="container mb-2">
            <p class="card-header challenge-title-box"><a  class="challenge-title" href="{% url 'my_challenges_detail' challenge.id %}">{{ challenge.title }}</a></p>
          </div>
          {% endif %}
          {% endif %}
          {% endfor %}

          <h4 class="main-text">Completed</h4>
          {% for challenge in challenges.all %}
          {% if challenge.status == "Started" %}
          {% if request.user in challenge.completed_peer_reviewer.all %}
          <div class="container mb-2">
            <p class="card-header challenge-title-box"><a  class="challenge-title" href="{% url 'my_challenges_detail' challenge.id %}">{{ challenge.title }}</a></p>
          </div>
          {% endif %}
          {% endif %}
          {% endfor %}
        </div>



        <div class="container">
          <h3>Completed challenges</h3>
          {% for challenge in challenges.all %}
          {% if challenge.status == "Completed" %}
          <div class="container mb-2">
            <p class="card-header challenge-title-box"><a  class="challenge-title" href="{% url 'my_challenges_detail' challenge.id %}">{{ challenge.title }}</a></p>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% else %}
      <div class="pl-2">
        <h2 class="mt-5 pt-5 mb-5 text-center">Please, log into your account.</h2>
        <a href="{% url 'login' %}" class="col button instagram w-25 a-btn small-head-text"><span class="gradient"></span>Login</a>
      </div>
      {% endif %}
    </main>

    <footer class="p-4 text-center">
      <div class="container text-center">
        <p>© Iryna Yakymets {% now "Y" %}</p>
      </div>
    </footer>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

  </body>
