

.main-bg {
  background-color: #112861;
}

.secondary-bg {
  background-color: #ffffff;
  color: #112861;
}

.secondary-text-color {
  color: #112861;
}

h1 {
  font-family: 'Kanit', sans-serif;
  font-weight:800;
  font-size: 100px;
}

h2 {
  font-family: 'Kanit', sans-serif;
  font-weight:600;
  font-size: 65px;
}

h3 {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.small-head-text {
  font-family: 'Kanit', sans-serif;
  font-weight:300;
  font-size: 27px;
}

.small-head-text-second {
  font-family: 'Kanit', sans-serif;
  font-weight:300;
  font-size: 27px;
  color: white;
}

.regular-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 27px;
}

.nav-main {
  background-color: white;
  color: #112861;
}

.nav-secondary {
  background-color: #112861;
  color: white;
}

.a-btn:link {
  color: #112861;
}

/* visited link */
.a-btn:visited {
  color: #112861;
}

/* mouse over link */
.a-btn:hover {
  color: #112861;
  font-weight: bold;
}

/* selected link */
.a-btn:active {
  color: #112861;
}

.container-small {
  text-align: center;
  padding-left: 170px;
  padding-right: 170px;
}

.button {
	display: block;
  width: 100px;
  max-width: 50%;
  margin: auto;
  overflow: hidden;
  position: relative;
  transform: translatez(0);
  text-decoration: none;
  box-sizing: border-box;
	font-weight: normal;
	box-shadow: 0 9px 18px rgba(0,0,0,0.2);
}

.instagram {
	text-align: center;
	border-radius: 50px;
  padding: 26px;
  color: #112861;
  background: #ffffff;
  transition: all 0.2s ease-out 0s;
}

.gradient {
	display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  bottom: auto;
  margin: auto;
  z-index: -1;
  background: radial-gradient(90px circle at top center, rgba(189,208,255,.8) 30%, rgba(255,255,255,0));
  transition: all 0s ease-out 0s;
	transform: translatex(-140px);
	animation: 18s linear 0s infinite move;
}

@keyframes move {
	0% {
		transform: translatex(-140px);
	}
	25% {
		transform: translatex(140px);
		opacity: 0.3;
	}
	50% {
		transform: translatex(140px);
		opacity: 1;
		background: radial-gradient(90px circle at bottom center, rgba(189,208,255,.8) 30%, rgba(255,255,255,0));
	}
	75% {
		transform: translatex(-140px);
		opacity: 0.3;
	}
	100% {
		opacity: 1;
		transform: translatex(-140px);
		background: radial-gradient(90px circle at top center, rgba(189,208,255,.8) 30%, rgba(255,255,255,0));
	}
}


.sidebar {
  background: #112861;
}

.nav-sidebar {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 10%;
}

.nav-sidebar ul {
  list-style: none;
  display: block;
}

.a-sidebar {
  font-family: 'Kanit', sans-serif;
  font-weight:400;
  color: white;
  text-decoration: none;
}

.a-sidebar:hover {
  font-family: 'Kanit', sans-serif;
  font-weight:600;
  color: white;
  text-decoration: none;
}

.a-sidebar:active {
  font-family: 'Kanit', sans-serif;
  font-weight:600;
  color: white;
  text-decoration: none;
}

.active-sidebar {
  font-family: 'Kanit', sans-serif;
  font-weight:600;
  color: white;
  text-decoration: none;
}

.blog-date {
  margin-top: 1em;
}

.blog-body {
  margin-top: 1em;
  margin-bottom: 2em;
}

.reg-label {
  font-family: 'Kanit', sans-serif;
  font-weight:400;
  color: white;
  text-decoration: none;
  text-align: right;
}

.reg-field {
  font-family: 'Kanit', sans-serif;
  font-weight:400;
  color: #112861;
  text-decoration: none;
}

.reg-field-error {
  font-family: 'Kanit', sans-serif;
  font-weight:200;
  color: white;
  text-decoration: none;
  padding-bottom: 0;

}

/* Desktops */
@media only screen and (min-width: 993px) {

  .a-sidebar {
    font-size: 1.8em;
  }

  .blog-date {
    font-size: 0.5em;
  }

  .blog-body {
    font-size: 1em;
  }

  .reg-label {
    font-size: 1em;
  }

  .reg-field {
    font-size: 1em;
  }

  .reg-field-error {
    font-size: 0.2em;
  }

}
/* Tablets */
@media only screen and (min-width: 769px) and (max-width: 992px) {

  .a-sidebar {
    font-size: 1.5em;
  }

  .blog-date {
    font-size: 0.5em;
  }

  .blog-body {
    font-size: 1em;
  }

  .reg-label {
    font-size: 1em;
  }

  .reg-field {
    font-size: 1em;
  }

  .reg-field-error {
    font-size: 0.2em;
  }

}
/* Smartphones Landscape & Portrait */
@media only screen and (max-width: 768px) {

  .a-sidebar {
    font-size: 1em;
  }

  .blog-date {
    font-size: 0.3em;
  }

  .blog-body {
    font-size: 0.5em;
  }

  .reg-label {
    font-size: 0.5em;
  }

  .reg-field {
    font-size: 0.5em;
  }

  .reg-field-error {
    font-size: 0.2em;
  }

}
/* Smartphones Portrait */
@media only screen and (max-width: 540px) {

  .a-sidebar {
    font-size: 1em;
  }

  .blog-date {
    font-size: 0.3em;
  }

  .blog-body {
    font-size: 0.5em;
  }

  .reg-label {
    font-size: 0.5em;
  }

  .reg-field {
    font-size: 0.5em;
  }

  .reg-field-error {
    font-size: 0.2em;
  }

}
