<!doctype html>

<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">

  <title>Welcome to WriteIT!</title>
  <meta name="description" content="Welcome to WriteIT!">
  <meta name="author" content="Iryna Yakymets">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/profile_pages.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">

  <style type="text/css" media="screen">

    .h3-like {
      font-family: 'Kanit', sans-serif;
      font-weight: 400;
      font-size: 40px;
      color: #112861;
      text-decoration: none;
    }

  div#tips a  {
    font-size: 40px;
  }

  div#tips a:hover {
    text-decoration: none;
  }
  div#tips a span {display: none;}
  div#tips a:hover span {
    display: block;
    position: absolute;
    left: 20%;
    width: 200px;
    padding: 5px;
    margin: 2px;
    z-index: 100;
    color: #112861;
    background: #f2f7fc;
    font-family:"Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #112861;
    font-size: 0.3em;
    text-decoration: none;
    border: 1px solid #112861;
    text-decoration: none;
  }
  div#tips p {position:relative}
  </style>


</head>

<body class="h-100 w-100">


  <nav class="navbar navbar-expand-lg fixed-top nav-main">
    <a class="navbar-brand a-btn small-head-text" href="{% url 'home' %}">WriteIT!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link a-btn small-head-text active" href="{% url 'home' %}">Home</a>
        <a class="nav-item nav-link a-btn small-head-text" href="{% url 'about' %}">About</a>
        <a class="nav-item nav-link a-btn small-head-text" href="{% url 'profile' %}">Hi, {{request.user.username}}</a>
      </div>
    </div>
  </nav>


  <nav class="menu pt-5 mt-4" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
      {% if request.user.profile.photo %}<img class="image" src="{{ request.user.profile.photo.url }}" alt="profile_photo" />{% endif %}
      <h2 class="text-white">{{ request.user.username }}</h2>
    </header>
    <ul>
      <li tabindex="0"><a class="a-sidebar" href="{% url 'my_notifications' %}">My Notifications</a>{% if unread > 0 %}   <span>{{ unread }}</span>{% endif %}</li>
      <li tabindex="0"><a class="a-sidebar" href="{% url 'my_challenges' %}">My Challenges</a></li>
      <li tabindex="0"><a class="a-sidebar" href="{% url 'my_badges' %}">My Badges</a></li>
      <li tabindex="0"><a class="a-sidebar" href="{% url 'profile_settings' %}">Settings</a></li>
      <li tabindex="0"><a class="a-sidebar" href="{% url 'logout' %}">Logout</a></li>
    </ul>
  </nav>

  <main>
    <h1 class="text-center mt-5 p-5">Dashboard</h1>
    <div class="container pl-2">
      <div class="row" id="tips">
        <div class="col choose-type-container">
          <p><span class="h3-like">Challenges</span><a href="#"> <img src="{% static 'other/information.svg' %}" width="20px"> <span>The number of challenges you've taken part in.</span></a></p>
          <div class="image-background">
            <p class="yellow-text text-center">{{ count }}</p>
          </div>
        </div>
        <div class="col choose-type-container">
          <p><span class="h3-like">Level</span><a href="#"> <img src="{% static 'other/information.svg' %}" width="20px"> <span>Your current level. You can complete challenges that are of this level or lower.</span></a></p>
          <p class="form-label-text text-center">{{ profile.level }}</p>
          {% if request.user.profile.level == "Beginner" %}<img src="{% static 'challenge_types/beginner.svg' %}" width="200" alt="beginner" />
          {% elif request.user.profile.level == "Intermediate" %}<img src="{% static 'challenge_types/intermediate.svg' %}" width="200" alt="intermediate" />
          {% elif request.user.profile.level == "Advanced" %}<img src="{% static 'challenge_types/advanced.svg' %}" width="200" alt="advanced" />
          {% elif request.user.profile.level == "Expert" %}<img src="{% static 'challenge_types/expert.svg' %}" width="200" alt="expert" />{% endif %}
        </div>
        <div class="col choose-type-container">
          <p><span class="h3-like">Brownie points</span><a href="#"> <img src="{% static 'other/information.svg' %}" width="20px"> <span>You earn brownie points when you complete challenges. You can use them to start your own challenges.</span></a></p>
          <div class="image-background">
            <p class="yellow-text text-center">{{ profile.peer_review_points }}</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

<footer class="p-4 text-center">
  <div class="container text-center">
    <p>© Iryna Yakymets {% now "Y" %}</p>
  </div>
</footer>


<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
